* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: grid;
    grid-template-rows: 10% auto;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./squares.png");
}

button {
    background-color: transparent;
    margin: 0;
}

header {
    justify-self: center;
    align-self: center;
}

header .btns .nav-btn {
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    border-right: 0.1rem solid black;

    font-weight: bold;
    font-size: 2vw;
}

button:hover {
    background-color: black;
    color: white;
}

/* Content */
.home-content, .menu-content, .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* Home content */
.home-content .restaurantHeading {
    font-size: 6vw;
}

.home-content .logoHeadline {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-content .logoHeadline .headline {
    font-size: 3vw;
    text-align: center;
}

.logoHeadline .headlineDescription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-content .restaurantDescription {
    width: 65ch;
    text-align: center;
    font-size: 1vw;
}